/* Make the dashboard fill the entire page */
.dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

/* Make the map take up the full space */
.map-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
